
.doccheck_wrap{
    padding: 10px;
    max-width: 500px;
    border: solid 1px;
    margin: 5px;
}

.allClear{
    display: block;
    margin:0 10px 10px auto
    
}

.branch_id{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px 10px 30px 10px;

}

.branch_id_wrap{
    padding-bottom: 20px;
}

.branch_id_btn span{
    font-size: 5px;
}

.file_read_title{
    padding-bottom: 5px;
}

.fileSelect{
    margin: 10px;
}

.fileCheck{
    display: flex;
}

.border{
    width: 90%;
    border-bottom: 1px solid;
    margin: 0 auto 40px auto;
}

.table {
    display:table;
    /*隣接する要素のborderを共有*/
    border-collapse:collapse;
    margin-bottom: 20px;
    width: 480px;
    font-size: 10px;
}
.table .row {
    display:table-row;
}

.table .cell {
    display:table-cell;
    border:#5c5b5b 1px solid; /*境界線を指定*/
    padding: 5px;
}

.table .cell_1 {
    display:table-cell;
    border:#5c5b5b 1px solid; /*境界線を指定*/
    padding: 5px;
    width: 40px;
    font-weight: bold;
}

.table .cell_2 {
    display:table-cell;
    border:#5c5b5b 1px solid; /*境界線を指定*/
    padding: 5px;
    width: 40px;
    font-weight: bold;
}

.table .cell_3 {
    display:table-cell;
    border:#5c5b5b 1px solid; /*境界線を指定*/
    padding: 5px;
    width: 120px;
    font-weight: bold;

}

.cell span{
    color: rgb(247, 178, 30);
}

